@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
  --gradient-first:rgb(0, 255, 200);
  --gradient-second:rgb(0, 255, 255);
  --gradient-third:rgb(40, 125, 255);
  --maincolor: linear-gradient(135deg,var(--gradient-first) 0%, var(--gradient-second) 50%, var(--gradient-third) 100%);
  --header-color: rgb(0, 191, 255);
  --text-color: gray;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-color: var(--header-color);
  --color-text-color:var(--text-color);
  --color-gradient-first: var(--gradient-first);
  --color-gradient-second: var(--gradient-second);
  --color-gradient-third: var(--gradient-third);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}



@layer utilities {

  .bg-maincolor {
    background-image: var(--maincolor)
  }

.custom-shape-divider-bottom-1762450996 {
    position: relative;
    top: 81%;
    right: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1762450996 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 20vh;
}

.custom-shape-divider-bottom-1762450996 .shape-fill {
    fill: #FFFFFF;
}

}

